<div class="row">
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>
          <%= @response.display_name %>
        </h3>
      </div>
      <div class="panel-body">
        Completed
        <%= @response.question_responses_count %>
        of
        <%= Question.count %>
        questions

      <!-- Creates variables to store raw scores for each creative quality -->
       <% @p = 0 %>
       <% @e = 0 %>
       <% @c = 0 %>

       <!-- Creates variables to store max scores for each creative quality -->
       <% @pmax = 0 %>
       <% @emax = 0 %>
       <% @cmax = 0 %>

        <!-- Iterate through each reasponse for given user and update respesctive variable raw and max scores per creative quality -->
        <% @response.question_responses.each do |qr| %>
          <p>
            <% if qr.question_choice.creative_quality.name == "Purpose"%> 
              <% @p += qr.question_choice.score %> 
              <% if qr.question_choice.score > 0 %>
                <% @pmax += qr.question_choice.score %>
              <% end %> 
            <% elsif qr.question_choice.creative_quality.name == "Empowerment" %>
              <% @e += qr.question_choice.score %>
              <% if qr.question_choice.score > 0 %>
                <% @emax += qr.question_choice.score %>
              <% end %>
            <% elsif qr.question_choice.creative_quality.name == "Collaboration" %>
              <% @c += qr.question_choice.score %>
              <% if qr.question_choice.score > 0%>
                <% @cmax += qr.question_choice.score %>
              <% end %>
            <% end %>
          </p>
        <% end %>

        <!-- Global variables to store max scores -->
        <% $g_pmax += @pmax %>
        <% $g_cmax += @cmax %>
        <% $g_emax += @emax %>

        <!-- Data display for max and raw scores per creative quality -->
        <hr>
        <strong> Purpose </strong>
        <ul>
          <li>Raw score: <%= @p %></li>
          <li>Max score: <%= @pmax %></li>
        </ul>
        <strong> Empowerment </strong>
        <ul>
          <li>Raw score: <%= @e %></li>
          <li>Max score: <%= @emax %></li>
        </ul>
        <strong> Collaboration </strong>
        <ul>
          <li>Raw score: <%= @c %></li>
          <li>Max score: <%= @cmax %></li>
        </ul>
      </div>
    </div>

    <hr>

    <% @response.question_responses.each do |question_response| %>
      <%= render 'questions/header', question: question_response.question %>

      <table class="table table-bordered">
        <% question_response.question.question_choices.each do |question_choice| %>
          <tr>
            <td>
              <% if question_choice == question_response.question_choice %>
                  <% if question_choice.score >= 0 %>
                    <strong>
                      <%= question_choice.text %>
                    </strong>

                    <!-- Added custom class to allow color.css file to color text per spec -->
                    <p class="color_green">
                      <%= question_choice.creative_quality.name %> <%= question_choice.score %> 
                    </p>  

                    <% else %>
                    <strong>
                      <%= question_choice.text %>
                    </strong>

                    <!-- Added custom class to allow color.css file to color text per spec -->
                    <p class="color_red">
                      <%= question_choice.creative_quality.name %> <%= question_choice.score %> 
                    </p>  

                  <% end %>
              <% else %>
                <span class="text-muted" class="color_red">
                  <%= question_choice.text %>
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
